.header {
  padding: 1rem 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav li a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

nav li a:hover {
  text-decoration: underline;
}
